*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: $main-font; 
    color: $black-color;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    color: $black-color;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}