@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-SemiBold.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}