.popular-hotels {
    margin: 60px 0 73px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 20px;
    }

    &__main-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__text {
        display: block;
        width: 33.33%;

    }

    &__wrap {
        display: flex;
        margin: 0 -12px;
    }

    &__box {
        padding: 0 12px;
        width: 33.33%;
    }

    &__card {
        background-color: $white-fa-color;
        border-radius: 16px;
    }

    &__img {
        height: 320px;
        margin-bottom: 24px;
        background-repeat: no-repeat;
    }

    &__location,
    &__name,
    &__price-rating {
        display: block;
        margin: 0 16px;
    }

    &__location {
        font-size: 12px;
        color: $green-color;
        margin-bottom: 8px;
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 24px;
    }

    &__price-rating {
        display: flex;
        padding-bottom: 38px;
        
        
    }

    &__price {
        line-height: 1.125;
        width: 50%;
    }

    &__rating {
        position: relative;
        display: flex;
        justify-content: space-between;

        img {
            width: 79px;
            height: 15px;
        }

        &__brigth {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        &__mark {
            margin-left: 5px;
        }
    }
}