$green-color: #24AB70;
$ligth-green-color: rgba(36, 171, 112, 0.1);
$white-color: #FFFFFF;
$white-fa-color: #FAFAFA;
// $white-fa-color: blue;

$black-color: #222222;
$openSans-font: "OpenSans", Arial, Helvetica, sans-serif;
$main-font: 400 16px/1.75 $openSans-font;

